body {
  background-color:yellow;
}
h1 {
  border: 5px solid red;
  padding: 50px
  color:blue;
  font-family:helvetica;
  background-color:pink
}
h1{
  color:black;
  background: white;
  font-family: "Gill Sans";
  text-transform: uppercase;
}
p {
  color:pink;
  background-color: blue;
  border: 2px dotted green;
}
#highlight{
  color: black;
  background-color: green;
  border: 2px dotted green;
}
.top{
  background-color: red;
  float: left;
}
h3 {
  color:green;
}
img {
  border:5px solid fuchsia;
  width:50%;
  height:50%;
  margin-top: 100px;
}
img {
  border:5px solid fuchsia;
  width:50%;
  height:50%;
  margin-top: 100px;
}
